@page "/Server/{Id:int:min(0)}/Console"

@using QSM.Web.Data
@implements IDisposable

@inject ProcessManager ProcessManager
@inject ILogger<ServerConsole> Logger
@inject IJSRuntime Js

<PageTitle>Console - QSM Web Console</PageTitle>

<h1>Console</h1>

<div class="overflow-auto" id="outputList">
    <pre>
        @lock (_outputLock)
        {
            foreach (var entry in _outputList)
            {
                <div class=@(entry.Type == ProcessManager.OutputType.Error ? "text-danger" : "")>@entry.Message</div>
            }
        }
    </pre>
</div>

<EditForm Model="Input" class="mt-2" OnSubmit="CommandSubmitted">
    <InputText class="form-control" @bind-Value="Input!.Command" autocomplete="off" />
</EditForm>

<style>
    #outputList {
        height: 72vh;
        max-width: 80vw;
    }
</style>

@code {
    [Parameter] public int Id { get; set; }
    [SupplyParameterFromForm] private InputModel? Input { get; set; }
    
    private readonly Lock _outputLock = new();
    private List<ProcessManager.OutputCache> _outputList = [];
    private Timer? _updateTimer;
    private bool _outputListModified;
    private bool _outputListened;

    protected override void OnInitialized()
    {
        Input ??= new InputModel();
        
        var outputListExist = ProcessManager.ServerOutput.TryGetValue(Id, out var outputList);

        if (!outputListExist) return;

        lock (_outputLock)
        {
            _outputList = outputList!;
        }

        _updateTimer = new Timer(UpdatePendingOutput, null, 300, 300);
    }

    private void UpdatePendingOutput(object? state)
    {
        if (!_outputListModified) return;

        InvokeAsync(async () =>
        {
            StateHasChanged();
            await Js.InvokeVoidAsync("scrollToBottom");
        });
        _outputListModified = false;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;

        if (_outputListened) return;
        ProcessManager.OutputReceived += OnOutputReceived;
        _outputListened = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Js.InvokeVoidAsync("scrollToBottom");
    }

    private void OnOutputReceived(int serverId, ProcessManager.OutputCache newOutput)
    {
        try
        {
            if (serverId != Id) return;
            
            lock (_outputLock)
            {
                _outputList.Add(newOutput);
            }
            _outputListModified = true;
        }
        catch (Exception e)
        {

            Logger.LogError(e, "An error occurred while updating server output");
        }
    }

    public void Dispose()
    {
        if (_outputListened)
        {
            ProcessManager.OutputReceived -= OnOutputReceived;
        }

        _updateTimer?.Dispose();
    }

    class InputModel
    {
        public string? Command { get; set; }
    }

    private void CommandSubmitted()
    {
        if (ProcessManager.Processes[Id].HasExited) return;
        
        ProcessManager.Processes[Id].StandardInput.WriteLine(Input!.Command);

        Input.Command = "";
    }

}