<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="Settings" Match="NavLinkMatch.All">Preferences</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Settings/Java">Java</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Settings/Users">Users</NavLink>
    </li>
</ul>
