/* Increase theme select width to better accommodate menu contents. */
starlight-theme-select select {
    --sl-select-width: 6rem;
}

figure > img {
    margin: auto;
}

figcaption {
    text-align: center;
    color: gray;
}
