@page "/Server/{Id:int:min(0)}/Mods/Add/Upload"
@using Microsoft.EntityFrameworkCore
@using QSM.Web.Data

@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager NavMan
@inject ILogger<AddModsUpload> Logger

<AddModsNavBar Id="Id"/>

<div class="p-4">
    <div class="mb-3">
        <label for="modFile" class="form-label">Select the mod(s) you wish to upload:</label>
        <InputFile id="modFile" class="form-control" multiple OnChange="FileSelectionChanged" />
        <p class="text-secondary">Maximum 100 files, 50 MiB each</p>
    </div>
    
    <div class="mb-3">
        <button class="btn btn-primary" @onclick="SubmitFiles">Submit</button>
    </div>
    
    @if (_isLoading)
    {
        <p>Progress: @string.Format("{0:P2}", _progressPercentage)</p>
        <progress value=@_progressPercentage max="100"></progress>
    }
    else
    {
        <p>Uploaded files:</p>
        <ul>
            @foreach (var file in _loadedFiles)
            {
                <li>@file.Name</li>
            }
        </ul>
    }
</div>

@code {
    const int MaxFileCount = 100;
    const int UploadLimit = 50 * 1024 * 1024; // 50 MiB
    
    [Parameter] public int Id { get; set; }

    readonly List<IBrowserFile> _loadedFiles = [];
    IReadOnlyList<IBrowserFile> _pendingFiles = [];
    ServerInstance _server = null!;
    decimal _progressPercentage;
    bool _isLoading;

    protected override void OnInitialized()
    {
        using var ctx = DbFactory.CreateDbContext();

        var server = ctx.Find<ServerInstance>(Id);

        if (server == null)
        {
            NavMan.NavigateTo("/");
            return;
        }
        
        _server = server;
    }

    private void FileSelectionChanged(InputFileChangeEventArgs e)
    {
        _pendingFiles = e.GetMultipleFiles(MaxFileCount);
    }

    private async Task SubmitFiles()
    {
        _isLoading = true;
        _loadedFiles.Clear();
        _progressPercentage = 0;

        foreach (var file in _pendingFiles)
        {
            try
            {
                var path = Path.Combine(_server.ModFolder, file.Name);
                await using FileStream writeStream = new(path, FileMode.Create);
                await using var readStream = file.OpenReadStream(UploadLimit);
                var bytesRead = 0;
                var totalRead = 0;
                var buffer = new byte[1024 * 10];

                while ((bytesRead = await readStream.ReadAsync(buffer)) != 0)
                {
                    totalRead += bytesRead;
                    await writeStream.WriteAsync(buffer, 0, bytesRead);
                    _progressPercentage = Decimal.Divide(totalRead, file.Size);
                    StateHasChanged();
                }

                _loadedFiles.Add(file);
                Logger.LogInformation("File saved: {Filename}", file.Name);
            }
            catch (Exception ex)
            {
                Logger.LogError(ex, "An error occurred while receiving file \"{Filename}\"", file.Name);
            }
        }
        
        _isLoading = false;
    }

}